button {
    color: white;
    background-color: #181B53;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: fit-content;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

button:hover {
    background: #61dafb;
    color: black;
    transform: scale(1.1);
}

 button:disabled {
     background-color: white;
     color: grey;
 }

button:hover:disabled{
    background-color: white;
    color: grey;
}

button:active {
    background: white;
}